PORT=5000
MONGO_URI=mongodb+srv://NOME_UTENTE:PASSWORD@CLUSTER.mongodb.net/aulafix?retryWrites=true&w=majority
JWT_SECRET=scrivi_qui_una_frase_lunga_e_difficile_da_indovinare
CLIENT_URL=http://localhost:5173
NODE_ENV=development
